.xyz-banner-title {
    /* font-weight: 700; */
    font-size: 65px;
}

.header-btn {
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
}

.xyz-btn {
    margin-top: -6rem;
    left: 5rem;
    background-color: white;
    border: none;

}

.xyz-btn-icon {
    width: 40px;
}

/* --------------featured product-------------- */
.xyz-product-1 {
    background: linear-gradient(to right, #FFE7E6, #fff4f3);
    ;
}

/* -----------------------great tea-------------- */
.xyz-gradient-1 {
    background: linear-gradient(to right, #EFF2EC, #fcfff9);

    height: 6rem;


}

.xyz-glass-1 {
    background-image: linear-gradient(to right, #FFE7E6, #fff4f3);

}

.xyz-glass-2 {
    background-image: linear-gradient(to right, #FFE7E6, #fff4f3);
}
.xyz-gradient-2{
    background-image: linear-gradient(to right, #FFE7E6, #fff4f3);
}